# Do not commit secrets!
secrets.py

# To keep Udi and all the participants sane during the Hackathon
# In real-life projects this file should actually BE in the repository
Pipfile.lock

# Other do-not-cmmoit files
.idea
.pytest_cache
__pycache__/
*.pyc
venv/
htmlcov/
.ipynb_checkpoints
Thumbs.db
.DS_Store
temp/
